POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_PATH=
POSTGRES_HOST=

LLM_BACKEND=
LLM_ENDPOINT=
LLM_MODEL=
LLM_TIMEOUT_SECONDS=
OLLAMA_MODEL=
OLLAMA_KEEP_ALIVE=

EWS__BEWERBUNG__SERVICE_URL=
EWS__BEWERBUNG__MAILBOX=
EWS__BEWERBUNG__AUTH_MODE=
EWS__BEWERBUNG__PASSWORD=
EWS__BEWERBUNG__OAUTH_ACCESS_TOKEN=

MOUNT_PATH=
SHARE_PATH=
AD_USER=
AD_PASSWORD=
AD_DOMAIN=
AD_VERS=
SEC=
UID=
GID=
DIRECTORY2=
DIRECTORY3=

STORAGE_SERVICE_ENDPOINT=
STORAGE_SERVICE_TIMEOUT_SECONDS=